.image{
    height: 250px;
    object-fit: cover;
}
.view{
    display: block;
}

.myclass{
background-color: black;
}

/* AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA */




